/*
TODO

- hover effects on all the links

*/

* {
  background: #000754;
  overflow: hidden;
}

/* Global */
html{
  min-height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

body{
  height: 100%;
  padding: 4em;
  color: #fafafa;
  font-family: 'Source Code Pro', monospace; 
}

/* Highlight formatting for all the links in the project*/
.lynx {
	background: #fafafa;
	color: #e96bff; /* PINK */
	font-weight: bold;
	opacity: 0;
	padding-left: 5px !important;
	animation: links_appear 0.5s linear;
	animation-fill-mode: forwards;
}

/* LANDING PAGE */

.top{
	content: "";
	position: fixed;
	top: 0px;
	left: 0px;
}

p {
	font-size: 18px;
}

.line_1{
    position: absolute;
    width: 48em;
    margin: 0 auto;
    border-right: 3px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}

.line_2{
    position: absolute;
    margin: 20 auto;
    width: 100%;
    font-size: 18px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(50%); 
}

.line {
    background: #fafafa;
    position: absolute;      
}

.vert{
	top: 150px;
    left: 150px;
	height: 4150px;
	width: 2px;
}

.vert2{
	top: 300px;
    left: 600px;
	height: 4000px;
	width: 2px;
}

.vert3{
	top: 300px;
    left: 1500px;
	height: 650px;
	width: 2px;
}

.horiz {
	top: 300px;
    left: 150px;
	height: 2px;
	width: 2400px;
}

.horiz2 {
	top: 185px;
    left: 150px;
	height: 2px;
	width: 2400px;
}

.verts::before {
	content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000754;
        animation: animate 28s linear;
}

.vert::before{
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
}

.vert2::before{
        animation-delay: 7s;
        animation-fill-mode: forwards;
}

.vert3::before{
        animation-delay: 12s;
        animation-fill-mode: forwards;
        animation-duration: 5s !important;
}

.horiz::before {
	content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000754;
        animation: horiz_animate 13s linear;
        animation-delay: 4.5s;
        animation-fill-mode: forwards;
}

.horiz2::before {
	content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000754;
        animation: horiz_animate 13s linear;
        animation-delay: 3.75s;
        animation-fill-mode: forwards;
}

#basicinfo {
	width: auto;
	color: #000754;
	position: absolute;
	top: 150px;
	left: 300px;
	padding: 10px 5px;
	animation: selection 0.5s linear;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

#bio {
	color: #000754;
	position: absolute;
	top: 150px;
	padding: 10px 5px;
	animation: selection 0.5s linear;
	animation-fill-mode: forwards;
}

.degrees{
	animation-delay: 5.5s !important;
	left: 500px;
	width: 285px;
}

.certs{
	animation-delay: 8s !important;
	left: 1000px;
	width: 280px;
}
.home{
	animation-delay: 11s !important;
	left: 1500px;
	width: auto;
}

.compsci {
	color: #000754;
	position: absolute;
	top: 500px;
	left: 75px;
	padding: 10px 0px;
	animation: selection 0.5s linear;
	animation-delay: 5.75s;
	animation-fill-mode: forwards;
}

.design {
	color: #000754;
	position: absolute;
	top: 500px;
	left: 570px;
	padding: 10px 0px;
	animation: selection 0.5s linear;
	animation-delay: 8.5s;
	animation-fill-mode: forwards;
}

.abtme {
	color: #000754;
	position: absolute;
	top: 275px;
	left: 750px;
	padding: 0px 10px;
	animation: selection 0.5s linear;
	animation-delay: 7.8s;
	animation-fill-mode: forwards;
}

.links {
	color: #000754;
	position: absolute;
	top: 500px;
	left: 1480px;
	padding: 10px 0px;
	animation: selection 0.5s linear;
	animation-delay: 13.5s;
	animation-fill-mode: forwards;
}

.abtme_txt {
	color: #000754;
	position: absolute;
	top: 275px;
	left: 900px;
	width: 510px;
	padding: 0px 10px;
	animation: selection 0.5s linear;
	animation-delay: 9s;
	animation-fill-mode: forwards;
	font-size: 17px;
}

.typewriter{
  animation: typewriter 2.5s steps(22) 1s 1 normal both,
             blinkTextCursor 700ms steps(22) infinite normal;
}

.portrait {
	width:300px;
	height: 300px;
	object-fit: cover;
	border-radius: 50%;
	top: 430px;
	left: 1000px;
	position: absolute;
	opacity: 0%;
	animation: appear 0.5s linear;
	animation-delay: 9s;
	animation-fill-mode: forwards;
}

.symbols {
	color: #fafafa;
	position: absolute;
	left: 1475px;
	opacity: 0%;
	animation: appear 0.5s linear;
	animation-fill-mode: forwards;
	background: #000754;
	padding: 5px;
	transition: text-shadow 0.5s ease;
}

.github {
	top: 600px;
	animation-delay: 14s;
}

.blogspot {
	top: 700px;
	animation-delay: 14.5s;
}

.mail {
	top: 800px;
	animation-delay: 15s;
}

.resume {
	top: 900px;
	animation-delay: 15.5s;
}

.arrow {
	color: #fafafa;
	position: fixed;
	top: 10px;
	left: 10px;
	background: transparent;
	padding: 5px;
}

/* BUTTON HOVERING */

.symbols:hover {
  text-shadow: 0 0 10px #ffffff;
}

/* PROJECT PAGE 1: NASA PACKET DISSECTOR*/

.nasa_a {
	position: absolute;
	padding: 5px 0px;
	top: 655px;
	left: 250px;
	animation-delay: 7.5s;
	max-width: 75%;
}

.meatball {
	position: absolute;
	opacity: 0%;
	animation: appear 0.5s linear;
	animation-fill-mode: forwards;
	background: #000754;
	width: 160px;
	height: 80px;
	border-radius: 100%;
	top: 710px;
	left: 300px;
	animation-delay: 7.5s;
}

.a_nasa {
	top: 690px;
    left: 150px;
	height: 2px;
	width: 100px;
}

.a_nasa::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000754;
    animation: horiz_animate 1s linear;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

/* PROJECT PAGE 2 (project3.html): DADBOT */
.dadbot {
	position: absolute;
	padding: 5px 0px;
	top: 805px;
	left: 250px;
	animation-delay: 8s;
	max-width: 75%;
}

.dadbot_line {
	top: 840px;
    left: 150px;
	height: 2px;
	width: 100px;
}

.dadbot_line::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000754;
    animation: horiz_animate 1s linear;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}


/* PROJECT PAGE 3 (project2.html): NASA NETWORK SNIFFER*/
.nasa_b {
	position: absolute;
	padding: 5px 0px;
	top: 890px;
	left: 250px;
	animation-delay: 9s;
	max-width: 75%;
}

.b_nasa {
	top: 925px;
    left: 150px;
	height: 2px;
	width: 100px;
}

.b_nasa::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000754;
    animation: horiz_animate 1s linear;
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
}

.meatball2{
	top: 945px !important;
	animation-delay: 9s !important;
}

/* PROJECT PAGE 4 (project4.html): TREESEARCHER */
.treesearcher_project {
	position: absolute;
	padding: 5px 0px;
	top: 720px;
	left: 700px;
	animation-delay: 9s;
	max-width: 75%;
}

.treesearcher {
	top: 755px;
    left: 600px;
	height: 2px;
	width: 100px;
}

.treesearcher::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000754;
    animation: horiz_animate 1s linear;
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
}

.treesearcher_logo{
	position: absolute;
	opacity: 0%;
	animation: appear 0.5s linear;
	animation-fill-mode: forwards;
	background: #000754;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	top: 785px !important;
	left: 790px !important;
	animation-delay: 9s !important;
}


/* ANIMATIONS */

@keyframes typewriter{
  from{width: 0;}
  to{width: 10.5em;}
}

@keyframes longtypewriter{
  from{width: 0;}
  to{width: 22em;}
}

@keyframes dbtypewriter{
  from{width: 0;}
  to{width: 14em;}
}

@keyframes tstypewriter{
  from{width: 0;}
  to{width: 20em;}
}

@keyframes blinkTextCursor{
	from{border-right-color: rgba(255,255,255,.75);}
	to{border-right-color: transparent;}
}
@keyframes animate {
	from {
	    top: 0;
	}

	to {
	    top: 100%;
	}
	}

@keyframes horiz_animate {
	from {
	    left: 0;
	}

	to {
	    left: 100%;
	}
	}

@keyframes selection {
	from{color: #000754; }
	to{color: #fafafa; }
}

@keyframes appear {
	from {opacity: 0%}
	to {opacity: 100%}
}

@keyframes links_appear {
	from{opacity: 0}
	to{opacity: 1}
}